@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>


<body>
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td><p></p></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
            }
        </table>
        <h1><a href="/My/">ip</a></h1>
        <h1><a href="/Home/SomeMethod/">Some</a></h1>
        
    </div>
</body>
</html>